CLOUDINARY_CLOUD_NAME=xxx
CLOUDINARY_KEY=xxx
CLOUDINARY_SECRET=xxx
COOKIE_SECRET=xxx
DATABASE_URL=xxx
STRIPE_SECRET=xxx
MAIL_HOST="smtp.ethereal.email"
MAIL_PORT=587
MAIL_USER="get-one-from- http://ethereal.email"
MAIL_PASS="get-one-from- http://ethereal.email"
FRONTEND_URL="http://localhost:7777"
